html {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

h1 {
  margin-top: -50px;
}


section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  color: #565656;

  &#one {
    color: #4a6767;
    font-family: 'Montserrat', serif;
    background-color: #0d0f11;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;

    box-shadow: inset 0 0 900px black;

    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
  &#two {
    color: #4a6767;
    font-family: 'Montserrat', serif;
    background-color: #08090a;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;

    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
  &#three{
    background-color: #f9fffb;
    align-items: center;
    display: flex;
  }
  &#four{
    background-color: mintcream;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
  &#five{
    background-color: violet;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
  &#six{
    background-color: mintcream;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
  &#seven{
    background-color: pink;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
  &#eight{
    background-color: greenyellow;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
  &#nine{
    background-color: aquamarine;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
  &#ten{
    background-color: lavender;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
  }
}

nav.nav {
  position: fixed;
  top: 35%;
  padding-left: 2em;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;

    a {
      text-decoration: none;
      color: #565656;
    }

    li {
      margin: 0 0;
      transition: linear 0.3s;
      &:before {
        position: relative;
        display: inline-block;

        content: '';
        width: 10px;
        height: 10px;

        margin-right: 0.5em;

        border: 2px solid #565656;
        border-radius: 100px;

        box-shadow: 0 0 2px #565656;

        transition: linear 0.3s;
      }

      &:hover {
        cursor: pointer;
        &:before {
          box-shadow: 0 0 3px darken(#565656, 10%);
        }
      }

      &.active {
        transition: linear 0.3s;
        &:before {
          background-color: #1DB954;
          border: 2px solid #1DB954;
          box-shadow: 0 0 2px #1DB954;
        }
      }


    }
  }
}




.sign {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-top: 100px;
  font-family:"neon tubes 2", cursive;
  //font-family: 'Codystar', cursive;
  background-image: radial-gradient(
                  ellipse 50% 35% at 50% 50%,
                  darkcyan,
                  transparent
  );
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: #7ffcfc;
  text-shadow: 0 0 1.6rem lightcyan, 0 0 2.5rem cyan,
  -1.2rem 1.1rem 2rem cyan, 1.2rem 1.1rem 2rem darkcyan,
  0 -1.5rem 3rem darkcyan, 0 1.5rem 4rem #017373;
  animation: shine 1.2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #5aefef;
    text-shadow: 0 0 1.6rem lightcyan, 0 0 2.5rem cyan,
    -1.2rem 1.1rem 2rem cyan, 1.2rem 1.1rem 2rem darkcyan,
    0 -1.5rem 3rem darkcyan, 0 1.5rem 4rem #017373;
  }
  28%,
  33% {
    color: #7ef3f3;
    text-shadow: none;
  }
  82%,
  97% {
    color: cyan;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 1.4s forwards, blink 4s 4s infinite;
}

.fast-flicker {
  animation: shine 1.3s forwards, blink 2s 5s infinite;
}

@keyframes shine {
  0% {
    color: #016464;
    text-shadow: none;
  }
  100% {
    color: #5aefef;
    text-shadow: 0 0 1.6rem lightcyan, 0 0 2.5rem cyan,
    -1.2rem 1.1rem 2rem cyan, 1.2rem 1.1rem 2rem darkcyan,
    0 -1.5rem 3rem darkcyan, 0 1.5rem 4rem #017373;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}