/* styles for parallel coordinate graph */
.parallel-coord-axis {
    opacity: 0.4;
}
.parallel-coord-axis:hover {
    opacity: 1;
}

.parallel-coord-legend-labels {
    font-size: 15px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
    /*  pointer-events: none;	This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
}

.tooltip h3 {
    font: 16px sans-serif;
    font-weight: bold;
}
