/* styles for parallel coordinate graph */
/*.parallel-coord-axis {
    opacity: 0.4;
}
.parallel-coord-axis:hover {
    opacity: 1;
}*/

.parallel-coord-legend-labels {
    font-size: 15px;
}

/*.parallel-coord-legend-dots {
    cursor: pointer;
}*/

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
}

#tooltip-title {
    font: 16px sans-serif;
    font-weight: bold;
}

#parallelCoordinatesViz {
    width: 1000px;
    height: 700px;
}

.axistitle {
    font-size: 12px;
    fill: #65666e;
}

.area {
    fill: url(#area-gradient);
    stroke-width: 05px;
}

.axis {
    font: 14px 'Open Sans', sans-serif;
    color: #65666e;
}

.spacer {
    margin-bottom: 20px;
}

.leftspacer {
    margin-left: 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
}



#thefile {
    /*position: fixed;*/
    top: 10px;
    left: 10px;
    z-index: 100;
}

#canvas {
    /*position: fixed;*/
    left: 50px;
    /*top: 50px;*/
    right: 50px;
    width: 90%;
    height: 90%;
}

audio {
    /*position: fixed;*/
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}


.fa {
    font-size: 20px !important;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.5;
}

.fa-border {
    border: solid 1px #969696 !important;
    padding: 10px !important;
}

.fa-linkedin, .fa-github, .fa-envelope {
    color: #969696;
    background-color: transparent;
}

.area {
    cursor: pointer;
}